.header__intro__section {
    margin-top: 5rem;
}

.about__grid__container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
            "header__intro__h1  header__intro__img "
            "header__intro__tech header__intro__img ";
}

.header__intro__h1 {
    margin: 1rem;
    font-size: 3vw;
    text-align: center;
    height: 50%;
    grid-row: 1;
}

.header__intro__img {
    margin: 1rem;
    grid-row: 1/2;
   
}

.header__intro__tech {
    background-color: blue;
    width: 100%;
    height: 100%;
    top: 1rem;
    
}

@media only screen and (max-width: 600px) {

    .about__flex__container {
        display: block;
    }

    .header__intro__section {
        margin-top: 1rem;
    }
    

.header__intro__h1 {
 
    font-size: 4vw;

}
.header__intro__img {
    position: relative;
    width: 50%;
    height: 50%;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
}
 
}