/*Navigation bar*/

/* UTILITIES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLING STARTS */

.navbar {
  top: 0;
  width: 100%;
  z-index: 500;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dcf3ff;
  color: black;
}

.navbar__ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dcf3ff;
  width: 100%;
}

.navbar__a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.2vw;
}

.navbar__a:hover {
  color: white;
}

/* NAVBAR MENU */

.menu {
  display: flex;
  flex-direction: center;
}

.menu li:hover {
  background-color: rgb(55, 110, 230);
  color: white;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox] {
display: none;
}

/*HAMBURGER MENU*/

.hamburger {
  user-select: none;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  scale: 2;
}

/* APPLYING MEDIA QUERIES */

@media only screen and (max-width: 600px) {

  .menu {
    margin-top: 5.5vh;
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    background-color: #dcf3ff;
  }

  .menu li {
    display: inline-block;
    width: 100%;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .navbar__a {
    font-size: 3vw;
  }

}