.Project__section {

    padding: 1vw;
}

.ProjectGrid__section__h2 {
    font-size: 2vw;
}

.Project__section__btn {
    border: none;
    background-color: #EBEBEB;
    font-weight: bold;
    width: 20%;
    height: 4rem;
    margin: auto auto 2.5vw auto;
}

.Project__section__btn:hover {
    background-color: rgb(55, 110, 230);
    color: white;
}

.Project__section__grid__container {
    display: grid;
    
    grid-gap: 5vw;
    grid-template-areas:
        "list img img"
        "list img img"
        "stack stack stack";
}

.grid__item__list {
    min-width: 20vw;
    max-width: 30vw;
    grid-area: list;
    list-style: none;
}

.grid__item__list li {
    margin-bottom: 2.5vh;
    float: center;
}

.grid__item__stack__container {
    grid-area: stack;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/*image */
.project__grid__item__img {
    background-color: blue;
    width: 100%;
    min-height: 50vh;
    max-width: 50vw;
    grid-area: img;
    position: static;
    margin-right: 50vw;
}

.project__character {
    background: no-repeat center url(../assets//project_images/character_portfolio.jpg);
    background-size: cover;
}

.project__portfolio {
    background: no-repeat center url(../assets//project_images/developer_portfolio.png);
    background-size: cover;
}

.project__jsServer {
    background: no-repeat center url(../assets//project_images/js_server.png);
    background-size: cover;
}

/* Stack */
.flex__item__li {
    width: 10vw;
}

.flex__item__img {
    position: relative;
    width: 40%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .Project__section__btn {
        width: 40%;
    }

    .Project__section__grid__container {
        display: block;
        grid-template-columns: none;
        grid-template-rows: 3fr 2fr; 
    }
}

