.ProjectGrid__section {
    position: relative;
    top: -8rem;
    font-weight: bold;
    text-align: center;
    margin-right: 5rem;
    margin-left: 3rem;
}

.ProjectGrid__section__h2 {
    font-size: 3vw;
}

.ProjectGrid__section__grid__container {
    position: relative;
    display: grid;
    list-style: none;
    grid-gap: 1vw;
    grid-template-columns: repeat(auto-fill, 32%);
    padding-left: 0;
 
    
}

.ProjectGrid__section__grid__item {
    width: 100%;
    padding:3vh;
}

.ProjectGrid__section__grid__item:hover {
    background-color: rgb(55, 110, 230);
    color: white;
}

.grid__item__img {
    position: relative;
    margin-right: 8vw;
    width: 40%;
    height: auto;
}

.grid__item__name {
    font-weight: bold;
    text-align: center;
}

.ProjectGrid__section__p {
    margin: 5vh;
}

