.ProjectGrid__section {
    position: relative;
    top: -8rem;
    font-weight: bold;
    text-align: center;
    margin-right: 5rem;
    margin-left: 3rem;
    background: no-repeat 50% 50% url(../assets//background_yellow.jpg);
    background-size: 80%;
}

.ProjectGrid__section__h2 {
    font-size: 3vw;
}

.ProjectGrid__section__grid__container {
    position: relative;
    display: grid;
    list-style: none;
    grid-gap: 1vw;
    grid-template-columns: repeat(auto-fill, 32%);
    padding-left: 0;
 
    
}

.ProjectGrid__section__grid__item {
    max-width: 100%;
    padding:3vh;
}

.ProjectGrid__section__grid__item:hover {
    background-color: rgb(55, 110, 230);
    color: white;
}



.grid__item__name {
    font-weight: bold;
    text-align: center;
}

.ProjectGrid__section__p {
    margin: 5vh;
}

.Project__section__grid__container {
    display: grid;
}

/*image css */
.grid__item__div__image__container {
    position: static;
    width: 20rem;
    height: 10rem;
    margin-left: 2.75vw;
}

/* image imports */
.character {
    background: no-repeat center url(../assets//project_images/character_portfolio.jpg);
    background-size: 100%;
}

.portfolio {
    background: no-repeat center url(../assets//project_images/developer_portfolio.png);
    background-size: 100%;
}

.jsServer {
    background: no-repeat center url(../assets//project_images/js_server.png);
    background-size: 100%;
}



@media only screen and (max-width: 600px) {
    .ProjectGrid__section {
        margin-top: 8rem;
        margin-left: auto;
        margin-right: auto;
    }

    .ProjectGrid__section__grid__container {
        display: block;
        padding: 0;
    }

    .ProjectGrid__section__grid__item {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid__item__img {
        left: -7%;
    }

    .grid__item__div__image__container {
        width: 15rem;
        height: 15rem;
        margin-left: 6vw;
    }
}

/* Project media query here*/
@media only screen and (max-width: 600px) {

   
    .Project__section__btn {
        width: 40%;
    }

    .Project__section__grid__container {
        display: block;
        
    }

    .grid__item__list {
        min-width: 80%;
        margin: auto 20% auto 3%;
    }

    .flex__item__img {
        max-height: 40vh;
        min-width: 100%;
       
    }

    .project__grid__item__img {
        margin: auto auto auto 10vw;
        min-height: 50vw;
        max-width: 80%;
    }

    .grid__item__stack__container {
        margin-right: 7vw;
    }

    .flex__item__name {
        font-size: 2vw;
    }

    .flex__item__li {
        margin: 3vw;
    }
    
}