.techstack__section {
    position: relative;
    top: -8rem;
    font-weight: bold;
    background: no-repeat 50% 50% url(../assets/background_purple.jpg);
    background-size: 60%;
}

.techstack__section__h2 {
    font-size: 3vw;
    text-align: center;
}

.techstack__section__grid__container {
    position: relative;
    display: grid;
    list-style: none;
    grid-gap: 1vw;
    grid-template-columns: repeat(auto-fill, 18%);
    padding-left: 0;
    margin-left: 8rem;
    margin-right: 5rem;
}

.grid__item__container {
    width: 100%;
}

.grid__item__container:hover {
    scale: 1.25;
}

.grid__item__img {
    position: relative;
    left: 5.25vw;
    width: 5vw;
    height: 5vw;
}

.grid__item__name {
    font-weight: bold;
    text-align: center;
}

.techstack__section__btn__container {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.techstack__section p {
    text-align: center;
    margin: 2rem;
}

.techstack__section__btn {
    border: none;
    background-color: #dcf3ff;
    font-weight: bold;
    width: 10%;
    height: 4rem;
    margin: 0.1vw;
}

.clicked {
    background-color: rgb(55, 110, 230);
    color: white;
}

.techstack__section__btn:hover {
    background-color: rgb(55, 110, 230);
    color: white;
}


@media only screen and (max-width: 600px) {
    .techstack__section {
        top: 0;
        margin-top: 2rem;
        background: no-repeat 50% -5% url(../assets/background_purple.jpg);
        background-size: 100%;
    }

    .techstack__section__grid__container {
        grid-gap: 1vw;
        grid-template-columns: repeat(auto-fill, 32%);
        margin: auto auto auto 4vw;
    }

    .grid__item__img {
        width: 10vw;
    height: 10vw;
        position: relative;
       margin-left: 12.5vw;
        /* this var is causing some out of bounds slippage*/
    }

    .grid__item__name {
        font-size: 2.5vw;
    }

    .techstack__section__btn {
        width: 20%;
    }
}